html, body {font-size: 14px;}

.wraps {width: 100%; overflow-x: hidden;}
.wrap {width: 1080px; margin: 0 auto;}

/*
.tops {margin-bottom: 20px;}
.navis {margin-top: 12px;}
.navis > li {margin: 0 12px;}
.schs {margin-top: 15px;}
*/
.tops {display: flex; justify-content: space-between; align-items: flex-end; margin-bottom: 30px;}
.navis {display: flex;}
.navis > li {margin: 0 12px; position: relative;}
.navi_sub {position: absolute; z-index: 9999; font-size: 0.875rem; display: none; left: -15px; top: 30px;}
.navi_sub > div:first-child {padding-left: 30px;}
.navi_sub > div:first-child > img {transform: translateY(1px);}
.navi_sub > div:last-child {border: 1px solid #ccc; padding: 1rem; background-color: #fff; display: flex; width: 100%;}
.navi_sub_ul {min-width: 130px; border-top: 2px solid #666; padding-top: 0.5rem; flex: 1 0; margin: 0.5rem;}
.navi_sub_tit {padding-bottom: 3rem;}
.navi_sub_cont {padding-bottom: 0.5rem;}
.navi_sub_cont > div {margin: 0.5rem 0;}
.navi_sub_cont > div:hover {background-color: pink; color: red; font-weight: bold; cursor: pointer;}
.navi_udot {border-bottom: 1px dotted #666;}


.bans {position: relative;}
.ban > li {width: 100%; overflow-x: hidden;}
.ban > li:not(:first-child) {position: absolute; top: 0;}
.ban_btn {position: absolute; left: 50%; top: 60%; transform: translateX(-50%);}

.quicks {position: fixed; right: 0; top: 50%;}